*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
header {
  background-color: #ffc017;
}
nav {
  max-width: 900px;
  padding-top: 10px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
  list-style: none;
}
nav li {
  padding-right: 25px;
}
.btn {
  max-width: 150px;
  background-color: #191919;
  color: rgb(209, 209, 209);
  padding: 5px 15px;
  border-radius: 50px;
}
.logo-img {
  /* flex-grow: 2; */
  margin-right: 250px;
}
h1 {
  font-family: "Spectral", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 50px;
}
.contain-header {
  max-width: 900px;
  height: 325px;
  margin-inline: auto;
  position: relative;
}
.contain-title p {
  font-family: "Roboto", sans-serif;
}
.emme {
  position: absolute;
  top: 0;
  left: 85%;
  height: 300px;
}
.contain-title {
  display: flex;
  padding-block: 60px;
  flex-direction: column;
  justify-content: center;
  row-gap: 25px;
}
section h3::before {
  content: url("../imgs/svg/trending.svg");
  margin-right: 10px;
}
h3 {
  padding-left: 20px;
}
section {
  max-width: 900px;
  height: 340px;
  margin: auto;
  margin-block: 50px;
}
.container-box {
  height: 325px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}
.box {
  width: 290px;
  display: flex;
  gap: 10px;
}
.numero {
  color: rgba(175, 175, 175, 0.696);
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}
.box-info {
  display: flex;
  flex-direction: column;
}
h4 {
  font-size: 13px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}
.box-info p {
  font-size: 12px;
  margin-bottom: 13px;
}
.box-info p:last-of-type {
  font-size: 10px;
  color: rgb(95, 95, 95);
  margin-top: 13px;
  letter-spacing: 1px;
}
.box-info :first-child::before {
  content: url("../imgs/image01.jpeg");
  margin-right: 5px;
  border-radius: 3px;
  width: auto;
}
